{%load static%}

p{
  font-size: 11px;
}

#usernamelabel{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-family: bold;
}

input[type=text]{
  font-family: bold;
}

#commandlabel{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-family: bold;
}

html{
  height: 100%;
}

body{
  color: white;
  height: 100%;
  background-color: yellow;
}

.transContainer {
  margin: 10px 0 10px 10px;
  min-height: 20%;
  padding: 3px 0 7px 3px;
  width: 50%;
  background: rgba(20, 20, 20, 0.3);
}

#cmdList {
  list-style: none;
  padding-left: 0;
}

#cmdList > li {
  padding: 5px 10px;
  background-color: rgba(152,168,157, 0.9);
  border: 1px solid #DDDDDD;
}


input[type=submit]{
  color: rgb(255, 10, 10)
}
a:visited {
  color: #affca3;
}
a {
  color: #ffffff;
}
a:hover {
  color: #5e03ff;
}

.tableList {
  list-style: none;
}

.tableList > li {
  padding: 10px;
  color: black;
}

.tableList a { color: black; }
.tableList a:hover { color: grey; }

.gameBox {


}

.seatBox {

}

.seatBox div {
  padding: 1em 1em 1em 1em;
  margin-bottom: 3px;
  border: black 1px solid;
}
.seatCurrent {
  background: darkgreen;
}
.betBox {
  display: flex;
}

.betBox > div {
  padding: 10px;
  background: black;
  border: solid 1px black;
  color: red;
}

.betBox a {
  text-decoration: none;
}

.nav {
  display: flex;
  margin: 10px;
  color:#ffffff;
  background-color: #DDDDDD;
}

.nav > div {
  height: 100%;
  padding: 10px 20px 10px 20px;

  background: black;
  color: white;
}

.nav > a {
  height: 100%;
  padding: 10px 20px 10px 20px;

  background: white;
  text-decoration: none;
  color: black;
}

.nav > a:hover {
  background: grey;
}
