<form id="cmdForm" onSubmit="cmd(event)">
        {% csrf_token %}
        <label id="commandlabel" for="command">Command:</label>
        <input type="text" id="command" name="command"/>

        <input id="submitCmd" type="submit" value="Send">
</form>