<div class="nav">
    {% if not auth %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {% else %}
        <div>{{ username }}</div>
        <a href="/">Home</a>

        {% if user.table %}
            <a href="/table">Current Table</a>
        {% endif %}
    {% endif %}
    <a href="/tables">Tables</a>
    {% if user.admin %}
        <a href="/users">Users</a>
    {% endif %}

    {% if auth %}
        <a href="/logout">Logout</a>
    {% endif %}
</div>