{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/../../static/main/style.css' %}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static "main/app.js" %}"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<body style="background: url({% static "main/img/Poker_Background.jpg" %});background-size:cover">

{% block header %}
    {% include "main/partials/navbar.html" %}
{% endblock %}
{% if auth %}
    {% block auth_content %}
        {% block user_content %}{%  endblock %}
        {%  if user.admin %}
            {%  block admin_content %}{%  endblock %}
        {% endif %}
    {% endblock %}
    {% block cmd %}
        {% include "main/partials/cmdBox.html" %}
        {% include "main/partials/cmdHistory.html" %}
    {% endblock %}
{% else %}
    {% block unauth_content %}
        {% include "main/partials/unauthorized.html" %}
    {% endblock %}
{% endif %}
<br/>
</body>
</html>
