{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block auth_content %}
    <br>
    <h2>Welcome to WildPoker(tm)</h2>
{% endblock %}
{% block unauth_content %}
    <h2>Welcome to WildPoker(tm)</h2><br>
    <span>Please make an account and login to begin!</span>
{% endblock %}
