{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% block unauth_content %}
    <form method="post" action="">
        {% csrf_token %}
        <tr>
            <td>Username:</td>
            <td><input name="username" type="text"/></td>
            <br>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password" type="password"/></td>
            <br>
        </tr>
        <tr>
            <td><input type="submit" value="Login"/></td>
        </tr>
        <br>
        {% if error %}
            <span>Error: {{ error }}</span>
        {% endif %}
    </form>
{% endblock %}
