{% extends "main/base.html" %}
{% block title %}Tables{% endblock %}

{% block user_content %}
    <ul class="transContainer tableList">
        {% for t in tables %}
            <li><a href="/table/{{ t.slug }}"> {{ t }}</a></li>
        {% empty %}
            <li>No tables... Ask an admin to create one!</li>
        {% endfor %}
    </ul>
{% endblock %}
    {% block admin_content %}
         <form method="post" action="add">
            <h3>Add Table</h3>
        {% csrf_token %}
        <tr>
            <td>Table name:</td>
            <td><input name="table" type="text"/></td>
            <br>
        </tr>
            <td><input type="submit" value="Add"/></td>
        </tr>
        <br>

        </form>

        <form method="post" action="delete">
            {% csrf_token %}
            <h3>Delete Table</h3>

            <tr>
                <td>Table name:</td>
                <td><input name="table" type="text"/></td>
                <br>
                <td><input type="submit" value="Delete"/></td>
            </tr>
        </form>
    {% endblock %}

