{% extends "main/base.html" %}

{% block title %} Table: {{ table.name }}{% endblock %}

{% block user_content %}
    <div class="transContainer gameBox">
        <div class="seatBox">
            {% for seat in table.getSeats %}
                {% if seat %}
                    <div class="{% if table.game.current_player == seat %}seatCurrent{% endif %}">
                        Seat {{ forloop.counter }}:{{ seat }}</div>
                {% else %}
                    <div><a href="{{ table.slug }}/join">Seat {{ forloop.counter }}: Open</a></div>
                {% endif %}
            {% endfor %}
        </div>
        {% if table.game %}<div> Current Player {{ table.game.current_player }}</div>
        <div>Cards: {{ user.hand.printStr }}</div>
        {% endif %}

        {% if user.inGame %}
            <div class="betBox">
                <div><a href="{{ table.slug }}/call"> Call </a></div>
                <div><a href="{{ table.slug }}/fold"> Fold </a></div>

                <form method="post" action="{{ table.slug }}/betraise">
                    {% csrf_token %}
                    <tr>
                        <td><input name="amt" type="text"/></td>
                    </tr>
                    <tr>
                    <td>
                        <input name="bet" type="submit" value="Bet">
                        <input name="raise" type="submit" value="Raise">
                    </td>
                    </tr>
                </form>
            </div>
        {% endif %}

        <div><a href=""> Refresh </a></div>
        {% if response %}
            <span>Response: {{ response }}</span>
        {% endif %}
    </div>
{% endblock %}
