{% extends "main/base.html" %}

{% block title %}Users{% endblock %}
{%  block admin_content %}
    <span>Users Page</span>
    {% block auth_content %}
        <ul>
        {% for u in users %}
            {% if auth %}
                <li style="color:#ffffff;"> {{ u }} </li>
            {% else %}
            <li> {{ u }} </li>
            {% endif %}
        {% empty %}
            <li>No users!!</li>
        {% endfor %}
        </ul>

        {% if error %}
            <span>Error: {{ error }}</span>
        {% endif %}
        {% if response %}
            <span>{{ response }}</span>
        {% endif %}
        <form method="post" action="add">
            <h3>Add User</h3>
        {% csrf_token %}
        <tr>
            <td>Username:</td>
            <td><input name="username" type="text"/></td>
            <br>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password" type="password"/></td>
            <br>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input name="password_confirm" type="password"/></td>
            <br>
        </tr>
        <tr>
            <td><input type="submit" value="Add"/></td>
        </tr>
        <br>

        </form>

        <form method="post" action="delete">
            {% csrf_token %}
            <h3>Delete User</h3>

            <tr>
                <td>Username:</td>
                <td><input name="username" type="text"/></td>
                <br>
                <td><input type="submit" value="Delete"/></td>
            </tr>
        </form>
{% endblock %}
{% endblock %}
